software/build
verification/scenario0/work
verification/scenario0/wlf*
SORT




hardware/ip/xcku115/2016.4/brute_force_matcher_dispatch_unit_dwc_fifo/*
hardware/ip/xcku115/2016.4/brute_force_matcher_match_table_info_bram/*
hardware/ip/xcku115/2016.4/brute_force_matcher_match_table_info_fifo/*
hardware/ip/xcku115/2016.4/brute_force_matcher_secondary_buffer_fifo/*
hardware/ip/xcku115/2016.4/brute_force_matcher_secondary_buffer_fifo_64dsp/*
hardware/ip/xcku115/2016.4/brute_force_matcher_secondary_buffer_fifo_64dsp0/*
hardware/ip/xcku115/2016.4/brute_force_matcher_secondary_buffer_fifo_64dsp1/*
hardware/ip/xcku115/2016.4/brute_force_matcher_squareRoot/*
hardware/ip/xcku115/2016.4/fifo_74_74_1024_fwft/*
hardware/ip/xcku115/2016.4/ila_128_1024/*
hardware/ip/xcku115/2016.4/ila_128_4096/*
hardware/ip/xcku115/2016.4/ila_256_4096/*
hardware/ip/xcku115/2016.4/ila_448_4096/*
hardware/ip/xcku115/2016.4/ila_512_4096/*
hardware/ip/xcku115/2016.4/ila_768_4096/*
hardware/ip/xcku115/2016.4/ila_1024_4096/*
hardware/ip/xcku115/2016.4/brute_force_matcher_dispatch_unit_dwc_fifo_64dsp/*
hardware/ip/xcku115/2016.4/brute_force_matcher_fixed_to_flt/*

